h1 {
    font-size: 3.5rem;
    font-family: Lobster, cursive;
}

#map-canvas {
    height: max(20em, 20vw);
    width: max(20em, 20vw);
}

#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0 auto;
    max-width: 100 vw;
}

#sidebar {
    width: max(20em, 20vw);
}

#avatar input[type="color"] {
    height: 2rem;
    width: 2rem;
}
