* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 1rem 0;
    background: #f5f5f5;
    text-align: center;
}

h1,
h2,
p,
form {
    max-width: 60rem;
    margin: auto;
    text-align: center;
}

form {
    margin-top: 3rem;
}

h1 {
    font-size: 3.5rem;
    font-family: Lobster, cursive;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

p {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #444;
    margin-bottom: 1.1rem;
}

input,
select,
button {
    height: 3rem;
    display: inline-block;
    margin-bottom: 1.1rem;
    font-size: 1.5rem;
}

input[type="text"] {
    width: 30rem;
}

select,
input[type="text"] {
    padding: 0 0.5rem;
}

button {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: #484;
}

a:hover {
    color: #262;
}

#output {
    white-space: pre-wrap;
}

img {
    width: 300px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0 auto;
    max-width: 100 vw;
}
