h1 {
    font-size: 2rem !important;
    font-family: Lobster, cursive;
}

#map-canvas,
#marker-canvas {
    height: max(20em, 20vw);
    width: max(20em, 20vw);
}

#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0 auto;
    max-width: 100 vw;
}

#sidebar {
    width: max(20em, 20vw);
}

#name-list {
    display: grid;
}

#name-list a {
    color: white;
}

#avatar input[type="color"] {
    height: 2rem;
    width: 2rem;
}

#map {
    position: relative;
    display: flex;
}

#marker-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#domain-card,
#topic-card {
    /*width: 30rem;
    height: 3rem;
    margin-right: 1rem;*/
    padding: 0 1rem;
    margin: 0.5rem;
}

#topic-card {
    width: 20rem;
}

/* Site layout */

h1 {
    margin: 0 !important;
}

#main {
    display: flex;
    flex-direction: column;
    /*background: red;*/
    height: 100vh;
}

#menu {
    /*background: blue;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#menu .btn {
    margin: 0.5rem;
}

#content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#sidebar {
    display: flex;
    flex-direction: column;
    /*background: green;*/
    z-index: 99;
}

input {
    border-bottom: none !important;
    height: 2rem !important;
}

.input-field {
    margin: 0.5rem 0 0 0 !important;
}

.sep {
    flex-grow: 1;
}

#settings {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

#group {
    padding: 0.5rem;
}

#three-div {
    flex: 1;
    overflow: hidden;
}

#status {
    margin: 1rem;
    text-align: center;
}

#help-modal {
    max-width: 60rem !important;
    max-height: 75% !important;
}

#help-modal img {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#help-modal li {
    list-style-type: disc !important;
    margin-left: 1.2rem;
}

#help-modal .example {
    background: #3a9c57;
    border-radius: 0.2rem;
    color: white;
    padding: 0.3rem;
    white-space: nowrap;
}
